<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/GUI/css/library/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/GUI/css/library/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/GUI/css/library/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Content/GUI/css/library/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/GUI/css/library/jquery.mb.YTPlayer.min.css">
    <link rel="stylesheet" href="~/Content/GUI/css/style.css">


    <script type="text/javascript" src="~/Content/GUI/js/library/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="~/Content/GUI/js/library/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/GUI/js/library/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/GUI/js/library/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/GUI/js/library/parallax.min.js"></script>
    <script type="text/javascript" src="~/Content/GUI/js/library/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="~/Content/GUI/js/library/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="~/Content/GUI/js/library/jquery.mb.YTPlayer.min.js"></script>
    <script type="text/javascript" src="~/Content/GUI/js/library/SmoothScroll.js"></script>
    <script type="text/javascript" src="~/Content/GUI/js/script.js"></script>
    <title>@Page.Title</title>
</head>

<div id="preloader">
    <div class="tb-cell">
        <div id="page-loading">
            <div></div>
            <p>Loading</p>
        </div>
    </div>
</div>
<div id="wrap">
    <header id="header" class="header">
        <div class="container">
            <div class="logo float-left">
                <a href="index-2.html" title=""><img src="~/Content/GUI/images/logo-header.gif" alt=""></a>
            </div>

            <div class="float-right">
                <div class="ul-ft">
                    <ul class="pull-right">
                        <li class="pull-left"><a href="contact.html" title="">About us</a></li>
                        <li class="pull-left"><a href="#" title="">Term & Condition</a></li>
                        <li class="pull-left"><a href="#" title="">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        @*MENU*@
        <div class="container">
            <nav class="navigation nav-c" id="navigation" data-menu-type="1200">
                <ul class="menu-list text-uppercase">
                    <li class="current-menu-parent">
                        <a href="#" title="">Home</a>
                    </li>
                    <li>
                        <a href="#">Package Tour</a>
                    </li>
                    <li>
                        <a href="#" title="">Select Tour</a>
                    </li>
                    <li>
                        <a href="#" title="">Customized Tour</a>
                    </li>
                    <li>
                        <a href="#" title="">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/GUI/images/cruise/slide/img-1.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3>@*Caption Text*@</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/GUI/images/cruise/slide/img-2.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3>@*Caption Text*@</h3>
                    </div>
                </div>
                @*<div class="item">
                        <img src="~/Content/GUI/images/cruise/slide/img-3.jpg" alt="...">
                        <div class="carousel-caption">
                            <h3>Caption Text</h3>
                        </div>
                    </div>*@
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> <!-- Carousel -->
    </section>
    <section class="container" style="padding: 20px 0px">
        <body>
            <div class="col-sm-9">
                @RenderBody()
            </div>
            <div class="col-sm-3">

                <div class="col-sm-12 destinations-item " style="padding: 0px;">
                    <figure class="destinations-img" style="outline: 1px solid #D63C00;"><a href="#" title=""><img src="~/Content/GUI/images/tripadvisor_banner.jpg" alt=""></a></figure>
                </div>
                <div class="col-sm-12" style="outline: 1px solid #D63C00; margin-top: 15px; padding: 0px;">
                    <div class="col-sm-12 text-center" style="outline: 1px solid #D63C00; padding: 3px;">Meet Our Experts</div>
                    <div class=" col-sm-4" style="padding: 5px">
                        <span class="glyphicon glyphicon-earphone" style="font-size: 60px;"></span>
                    </div>
                    <div class="col-sm-8" style="padding: 10px">
                        <div class="row">MS. Minh</div>
                        <div class="row">Tel: (+84) 6886 999</div>
                        <div class="row">Email: abc@Examle.com</div>
                    </div>
                </div>
            </div>

        </body>
    </section>
    <footer>
        <div class="container">
            <div class="row" style="margin-top: 10px; color: white">
                <div class="col-md-4">
                    Copyright 2015
                </div>
                <div class="col-md-4 pull-right">
                    <span class="pull-right">Viet Select Tour CO., LTD. All Rights Reserved </span>
                </div>
            </div>
        </div>
    </footer>
</div>


</html>

@*<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-20585382-5', 'megadrupal.com');
    ga('send', 'pageview');</script>*@


<script>
    jQuery(document).ready(function ($) {
        $(".menu-list > li").on("click", function () {
            $(".current-menu-parent").removeClass("current-menu-parent");
            $(this).addClass("current-menu-parent");
        });
    })
</script>