
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GUI/Views/Shared/GuiLayOut.cshtml";
}

<div class="container">
    <section id="maincontent" class="ten columns positionleft">
        <div class="padcontent">

            <section class="content">
                <h1 class="pagetitle">Our Blog</h1>

                <article class="post">
                    <div class=" row">
                        <div class="postimg five columns">
                            <img alt="" src="~/Content/images/post3.jpg">
                        </div>
                        <div class="seven columns">
                            <div class="entry-content">

                                <h2 class="posttitle"><a href="single.html">Suspendisse scelerisque lectus tortor.</a></h2>

                                <p>Donec ornare aliquam augue vitae ornare. Sed vitae ligula in sem feugiat vehicula. Donec nec urna nec felis volutpat feugiat ut ut magna. Morbi vel ante ligula, at mollis est. Integer ornare cursus enim sed facilisis</p>

                                <a class="button" href="single.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </article>

                <div class="wp-pagenavi">
                    <a href="#" class="page">1</a><span class="current"><span>2</span></span><a href="#" class="page">3</a> &nbsp;&nbsp;Showing 2 of 3
                </div>

            </section>

        </div>
    </section>
</div>

