
@{
    ViewBag.Title = "SelectTour";
    Layout = "~/Areas/GUI/Views/Shared/GuiLayOut.cshtml";
}

<section class="content">
    <div class="caption">
        <span>
            Enquiry
        </span>
    </div>
    <article class="post">
        <div class="row">
        </div>
    </article>

</section>

