
@{
    ViewBag.Title = "TermCondition";
    Layout = "~/Areas/GUI/Views/Shared/GuiLayOut.cshtml";
}
<title>Terms & Conditions</title>
<h3>Terms & Conditions</h3>

<h4>1. Price</h4>

<p>
    We always guarantee about the best offer for high quality services. All our prices are

    quoted in American dollars, net and non-commission. It’s based on exact inclusion we

    mentioned. Hotel rates are quoted per room per night. Tour and other services are

    quoted per person basic. Single supplements will be applied to individual travelers

    wishing to stay in a single room in a trip. All airfare will be quoted separately with

    tour package price and always based on the economy class, except any special

    requests of inclusion and higher class
</p>

<h4>
    2. Reservation and Confirmation
</h4>

<p>
    All reservations should be made in writing via our official website or email addresses.

    All reservation requests will be handled/replied less than 24 hours. We will inform you

    about the availability of services at booking time and in case there are some services

    are fully booked or cannot be confirmed, you will be informed immediately and

    offered with an alternative similar service quality in order to avoid changes to the

    program as well as the surcharge. All changes (if any) are just arranged if we receive

    your acceptation/ agreement
</p>
<h4>
    3. Deposit & Payment
</h4>

<p>
    When our proposals are acceptable to process the booking, we require 30% deposit of

    total amount by credit card/ Western Union or bank transfer plus bank charges to

    secure certain reservations of flights, accommodations, cruises…right after the

    booking is confirmed. Once a deposit is received we will get back to you with our

    official confirmation vouchers.

    If you arrive in Hanoi, your balance can be settled upon your arrival in cash or by

    credit card. If your destinations are not included Hanoi, your balance can be done 1

    week before your travel date.
</p>
<h4>
    4. Amendment and Cancellation
</h4>

<p>
    In case you wish to make amendments to your booking, no charge will be applied if the

    amendments are not close to the deadline of cancellation. When an amendment is

    made, the tour cost may be changed accordingly the new seervices and the new price

    will apply.

    If you cancel some or all portions of your booking, there is not any cancellation fee

    will be charged from us. The cancellation fees if any is applied due to the policy of

    hotels/ cruises/ Airlines companies or other suppliers… etc. A cancellation will only be

    effective when we receive written confirmation of the cancellation.  We will advise

    you all details after negotiating with our suppliers to have the lowest fee for sure.

    Force Majeure

    In case of Force Majeure, we shall not be responsible for, but will use all reasonable

    endeavours to remedy as quickly as possible the effects of Force Majeure for our

    clients. All alternative ones will be suggested to clients and processed if we receive

    clients agreement and acknowledge.
</p>
<h4>
    5. Required information
</h4>

<p>
    When you agree to make the reservation with us for your trip, we would require you

    provide your personal information such as full name as per passport, date of birth,

    nationality, passport number, passport issue and expiry date and any pre-existing

    medical conditions you have which may affect your ability to complete your travel

    arrangements. Those are necessary for the hotels/ cruises’ reservation, flight tickets

    and visa approval letter processing (if any). We commits you that any of your personal

    information received by us through the booking process will never be used for any

    other purposes but travel services related to your trip.
</p>
<h4>
    6. Travel Insurance
</h4>

<p>
    We strongly recommend that all travelers obtain travel and health insurance you’re

    your country before taking any of our tours. Insurance is not included in our tour cost.
</p>
<h4>
    7. Passport and visas
</h4>

<p>
    You must carry a valid passport and have obtained all of the appropriate visas, permits

    and certificates for the countries in which you will visit during your trip. Your passport

    must be valid for six months beyond the duration of the trip. We do not include any

    visa fees for Vietnam, Cambodia and Laos. Normal visa for tourists is one month visa,

    single or multiple entry. You can get the visa from Embassies in your country or pick

    up it at the airport upon arrival at the airport. In this case, you should process the

    approval letter to get Vietnam visa before arrival. For Cambodia and Laos, it’s easy to

    get visa upon arrival the airport.
</p>
<h4>
    8. Children Policy
</h4>

<p>
    Free of charge for one child who is less than 2 years old when accompanied by at least

    two full paying adults and share the bed with adults. There will be charged 50% if any

    usage of airfare on tour.

    50% charge of adult’s price will be applied for all children from 2 to 5 years old when

    accompanied by at least two full paying adults and share the bed with adults. There

    will be charged 75% if any usage of airfare on tour.

    A tour price of 75% of full paying adult will be charged for one child from 5 to under 11

    years old when accompanied by at least two full paying adults and stays in the same

    room. An extra bed is provided without any payment. There will be charged 75% if any

    usage of airfare on tour.

    Children at the age of 11 (eleven) or older will be considered as an adult and full

    charge will be applied
</p>